.color-white {
    color: white;
}

.main {
    margin-top: 50px;
}

.uk-button {
    border-radius: 0;
}

a:hover {
    text-decoration: none;
}

.table__head, .table__head ~ .table__main {
    border-bottom: 1px solid #e3e5e7;
}

.table__head {
    padding: 15px 0;
    border-top: 1px solid #e3e5e7;
    font-size: 0.9em;
    background-color: #eeefef;
}

.table__head, .table__head ~ .table__main {
    border-bottom: 1px solid #e3e5e7;
}

.table__main {
    padding: 15px 0;
}

.table__head, .table__main {
    padding-left: 30px;
}

.padding-top {
    padding-top: 5px;
}

.padding-bottom {
    padding-top: 5px;
}



.column-sort {
    cursor: pointer;
}

.sort-desc:after {
    content: "\f107";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.sort-asc:after {
    content: "\f106";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.code {
    margin-top: 10px;
    margin-bottom: 10px;
}

.code .code__title {
    cursor: pointer;
}

.code:not(.code_open) .code__body {
    display: none;
}

.code:not(.code_open) .code__title:after {
    content: " \f107";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.code.code_open .code__title:after {
    content: " \f106";
    font-family: FontAwesome;
    display: inline;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.chart-content {
    position: relative;
    width:100%;
}

.chart-content .download {
    position: absolute;
    right: 30px;
    top: 50px;
    font-size: 2em;
    cursor: pointer;
    color: green;
}

.params {
    display: flex;
}
.params__title {
    margin-top: 3px;
    margin-right: 10px;
}
.params .param {
    padding-left: 5px;
}

.queries-table > .table__main {
    overflow-y: auto;
    max-height: 500px;
}

@media (min-width:768px) {
    .uk-width-medium-1-7 {
        width: 14%;
    }
}